<div style="font-family:inter,sans-serif;margin:0 auto;padding:0;">
  <div style="margin:0px auto;max-width:600px;background-color:#1E2125;border-top:4px solid #c72a2a">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%">
      <tbody>
        <tr style="border-collapse:collapse;margin:0;padding:0">
          <td height="20" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
        </tr>
        <tr style="border-collapse:collapse;margin:0;padding:0">
          <td align="center">
            <img alt="wolfden-logo" src="https://wolfden-dev.s3.ap-southeast-2.amazonaws.com/assets/app/wd_banner.png">
          </td>
        </tr>
        <tr style="border-collapse:collapse;margin:0;padding:0">
          <td height="32" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
        </tr>
        <tr style="border-collapse:collapse;margin:0;padding:0">
          <td align="center" style="border-collapse:collapse;margin:0;padding:0">
            <h3
              style="font-family:Inter,sans-serif;color:#fff;margin:0;padding:0;font-weight: 600;font-size: 20px;line-height: 26px;">
              Dear valued user
            </h3>
            <p
              style="font-family:Inter,sans-serif;color:#fff;margin:8px 0 0 0;padding:0;font-size: 14px;line-height: 18px;">
              Firstly, we'd like to thank you for using Wolfden.</p>
          </td>
        </tr>
        <tr style="border-collapse:collapse;margin:0;padding:0">
          <td style="border-collapse:collapse;margin:0;padding:32px 24px 0">
            <table style="border-collapse:collapse;margin:0;padding:0" width="100%">
              <tbody>
                <tr style="border-collapse:collapse;margin:0;padding:0">
                  <td
                    style="border-collapse:collapse;margin:0;padding: 32px 23px 24px;background:#2F343C;border:1px solid #414753">

                    <table style="border-collapse:collapse;margin:0 auto;padding:0">
                      <tbody>
                        <tr>
                          <td align="center"
                            style="font-size:0px;padding:0px;padding-right:0px;padding-bottom:32px;padding-left:0px;word-break:break-word">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                              style="border-collapse:collapse;border-spacing:0px">
                              <tbody>
                                <tr>
                                  <td>
                                    <img alt="icon-lock"
                                      src="https://wolfden-dev.s3.ap-southeast-2.amazonaws.com/assets/app/warning.png" />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table style="border-collapse:collapse;margin:0;padding:0" width="100%">
                      <tbody>
                        <tr style="border-collapse:collapse;margin:0;padding:0">
                          <td align="center" style="border-collapse:collapse;margin:0;padding:0">
                            <p
                              style="font-family:Inter,sans-serif;color:#fff;margin:0;padding:0;font-size: 14px;line-height: 18px;">
                              On #day at #time, The howl <a href="#link_tweet_detail">No.#tweetId</a> was detected to
                              violate
                              the Wolfden rules about abusive behavior. If we determine that the Howl is in
                              violation of our policies, we must suspend the Howl.</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table style="border-collapse:collapse;margin:0;padding:0" width="100%">
                      <tbody>
                        <tr style="border-collapse:collapse;margin:0;padding:0">
                          <td align="center"
                            style="border-collapse:collapse;display:block;margin:0 auto;padding:16px 0">
                            <p
                              style="font-family:Inter,sans-serif;color:#fff;margin:0;padding:0;font-size: 14px;line-height: 18px;">
                              You will receive a follow up from us if we need more information from you.</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table style="border-collapse:collapse;margin:0;padding:0" width="100%">
                      <tbody>
                        <tr style="border-collapse:collapse;margin:0;padding:0">
                          <td align="center"
                            style="border-collapse:collapse;display:block;margin:0 auto;padding:0 0 16px;width:330px">
                            <p
                              style="font-family:Inter,sans-serif;color:#fff;margin:0;padding:0;font-size: 14px;line-height: 18px;">
                              To defend yourself, please contact us within 24hours since you receives this email.
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table style="border-collapse:collapse;margin:0 auto;padding:0">
                      <tbody>
                        <tr>
                          <td
                            style="font-family:Inter,sans-serif;color:#fff;margin:0;padding:0;font-size:18px;line-height:16px;text-align:center;width:100%;">
                            Your sincerely, Wolfden Team</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr style="border-collapse:collapse;margin:0;padding:0">
          <td height="32" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
        </tr>
        <tr>
          <td align="center"
            style="font-family:Inter,sans-serif;color:#fff;margin:0;padding:0;font-size: 14px;line-height: 16px;">
            2022 Wolfden. All rights reserved</td>
        </tr>
        <tr style="border-collapse:collapse;margin:0;padding:0">
          <td height="33" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
        </tr>
        <tr style="border-collapse:collapse;margin:0;padding:0">
          <td height="32" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>